// Your custom styles
*{
    margin: 0;
    padding: 0;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.container-fluid{
    width: 90%;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(4, 18, 48, 0.47);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    .social-link {
        position: absolute;
        bottom: 5%;
        display: block;
        width: 250px;
        text-align: center;

        a {
            color: #ffffff;
            margin: 0 .5rem;

        }
    }
}

.sidenav nav {

    .navbar-brand {
        display: flex !important;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        padding: 20px 0 60px;
        margin: 0;
    }

    .menu-item {
        margin-top: 60px;

        li {
            list-style: none;
            display: block;

            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 22px;
                color: #ffffff;
                display: inline-block;
                transition: 0.3s;
                text-transform: capitalize;

                &:after {
                    content: '';
                    width: 100px;
                    height: 5px;
                    background: #000;
                }
            }

            a:hover {
                color: #f1f1f1;
            }
        }
    }
}

.open-nav {
    position: fixed;
    bottom: 10%;
    left: 0;
    background: #fff3cd;
    transition: 0.5s;
    z-index: 999999;
    cursor: pointer;

    .open-close {
        padding: .5rem;
        font-size: 22px;
        cursor: pointer;
    }
}

.open-nav.main-open {
    left: -35px;

}

.trans {
    transform: translateX(-250px);
}

.main-open {
    margin-left: 250px;

    i {
        transform: rotate(180deg);
        transition: .5s;
    }
}

.myMainnav {
    background: #041230;

    .navbar {
        .navbar-brand {
            font-size: 28px;
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 3px;
        }
    }
}
.section {
    padding: 3rem 0;
}

.section-heading {

    position: relative;
    margin: 1rem 0 ;
    padding-left: 20px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 100%;
        background: #e24107;
    }

    h2 {
        font-weight: 500;
        font-size: 2.5rem;
        text-transform: uppercase;

    }
}

#main {
    transition: margin-left .5s;
    padding: 0;
    position: relative;
    //margin-left: 250px;

    #particles-js {
        width: 100%;
        height: 100vh;
        background: linear-gradient(to right, rgba(16, 7, 85, 0.7), rgba(16, 7, 85, 0.7)), url('../img/computer.jpg') no-repeat scroll top center;

    }

    .outer-wrapper{
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translate(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style: none;
    
    }
    ::-webkit-scrollbar {
        display:none;
    }
    .wrapper{
        display: flex;
        width: 700vw;
        flex-direction: row;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
        align-items: center;
    }
    section{
        width: 100vw;
        height: 100vh;
    }

    #home {
        position: relative;

        .home-content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;

            img {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                border: 10px solid rgba(118, 118, 118, 0.63);
            }

            h1.name .typewrite {
                color: #ffffff;
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                font-size: 5rem;
                margin-top: 3rem;

                span {}
            }

            .content {

                overflow: hidden;
                font-size: 35px;
                line-height: 40px;
                color: #ecf0f1;


                .content__container {
                    font-weight: 600;
                    overflow: hidden;
                    height: 40px;
                    padding: 0;
                    margin: 0 auto;
                    display: inline-block;


                    text-align: center;

                    .content__container__text {
                        display: inline;
                        float: left;
                        margin: 0;
                    }

                    .content__container__list {
                        margin-top: 0;
                        padding-left: 85px;
                        text-align: left;
                        list-style: none;

                        -webkit-animation-name: change;
                        -webkit-animation-duration: 10s;
                        -webkit-animation-iteration-count: infinite;
                        animation-name: change;
                        animation-duration: 10s;
                        animation-iteration-count: infinite;

                        .content__container__list__item {
                            line-height: 40px;
                            margin: 0;
                            color: #e24107;
                        }
                    }
                }
            }
        }

        .go-down {
            position: absolute;
            bottom: 5%;
            left: 50%;
            display: inline-block;
            padding: 8px;
            width: 50px;
            height: 50px;
            margin-left: -25px;
            text-align: center;

            i {
                color: #ffffff;
                font-size: 22px;
            }
        }
    }

    #about {
        .about-content {
            //background: url("../img/1.jpg") no-repeat left top;
            background-size: contain;

            .about-content-img {
                img {
                    border: 10px solid #ededed;
                    border-radius: 5px;
                    width: 100%;
                    max-height: 500px;
                }

            }

            .about-content-details {
                h2 {
                    font-weight: bold;
                    margin-bottom: 2rem;
                    font-size: 28px;
                    .typewrite{
                        color: #ffa00f;
                    }
                }

                .details {
                    margin-bottom: 2rem;
                    strong{
                        color: rgb(231, 109, 9) !important;
                    }
                }

                .my-info {
                    ul {
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            width: 50%;
                            list-style: none;

                            p {
                                display: flex;

                                span {
                                    color: #000;

                                    strong {
                                        font-weight: bold;
                                    }

                                    &:first-child {
                                        width: 30%;
                                    }

                                    &:last-child {
                                        width: 70%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
        .abilities{
            background: #ececec;
            padding: 0 0 50px;
            margin-top: 40px;
            .skils{
                .skil{
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-weight: bold;
                    }
                    .skil-name{

                    }
                    .skil-p{

                    }
                }
                .md-progress{
                    height: .25rem;
                }
                .progress{
                    .progress-bar{

                    }
                }
            }
        }
    }
}





#service{
  .service-content{
    .service-box{
      transition: .3s;
      &:hover{
        transform: translateY(-5px);
      }
      .service-bix-content{
        padding: 2rem;
        box-shadow: 0 0 10px #333333;
        margin: 1.5rem .5rem;
        i{
          color: #ffa00f;
        }
        h3.service-heading{
          color: #000;
          font-weight: 600;
          margin-top: 1rem;
          line-height: 1.5;
        }
        p.service-text{

        }
      }
    }
  }
}
#portfolio{
    background: #e5e5e5;
    .portfolio-content{
        .portfolio-menu{
            margin-bottom: 20px;
            ul{
                li{
                    list-style: none;
                    display: inline-block;
                    padding: .3rem .8rem;
                    background: #ececec;
                    margin: 0 .5rem;
                    border-radius: 10px;
                    color: #000;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
        .portfolio-item{

            .item{
                width: 32%;
                margin: 15px .66%;

                img{
                    width: 100%;
                }
            }
        }
    }
}

.owl-nav,.owl-dots{
    display: none;
}

#testimonial{
    .testimonial-content{
        background:linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)), url("../img/thank-you-227344_1920.jpg") no-repeat  center top;
        
        .tt{

            text-align: center;
            width: 700px;
            margin:2rem auto;
            padding: 3rem   0;
        }
        .testimonial-slide{
            .testimonial{

                i{
                    font-size: 2.5rem;
                    color: #ffa00f;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 2rem;
                    color: #ffffff;

                }
                .name-holder{
                    margin-top: 2rem;
                    span{
                        font-size: 1rem;
                        color: #ffffff;
                    }
                    .name{

                    }
                    .designation{

                    }
                }

            }
        }
    }
    .counter-content{
        margin: 10rem 0;
        .count{
            display: flex;
            flex-wrap: wrap;
        }
        .counter-item{
            width: 25%;
            text-align: center;
            padding: 3rem 0;
            border-right: 1px solid #959595;
            &:last-child{
                border-right:none;
            }
            div{
                span{

                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            p{
                color: #000;
                font-weight: 500;
            }
        }
    }
}

#news{
    background: #eaecf9;

    .news-content{
        .news-post{
            background: #ffffff;
            margin-bottom: 3rem;
            .post-image{
                img{
                    width: 100%;
                    height: 250px;
                }
            }
            .post-details{
                padding: 1rem;
                .post-taxonomy{
                    font-weight: bold;
                    .post-date{
                        margin-right: 1rem;
                    }
                    .post-category{

                    }
                }
                h2.post-title{
                    font-weight: bold;
                    font-size: 1.4rem;
                    margin-top: 1rem;
                    a{
                        color: #000000;
                    }
                }
                p.post-text{

                }
                a.read-post{
                    background: #ffa00f;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
        }
    }
}


#contact{
    position: relative;
    .contact-content{
        .contact-details{
            margin-bottom: 3rem;


        }
        .contact-form{
            margin-bottom: 3rem;

            .form-control{
                border: 0;
                border-bottom: 1px solid #000;
                border-radius: 0;
                &:focus{
                    box-shadow: none;
                }
            }
            .btn{
                background: #ffa00f;
                color: #ffffff;
                font-size: 1rem;
                box-shadow: none;
                margin-top: 1.5rem;
                padding-right: 3rem;
                padding-left: 3rem;
            }
        }
    }
    footer{
        background: #050a52;
        padding:3rem 0;
        position: absolute;
        bottom: 0;
        width: 100vw;
        left: 0;
        
        P{
            float: right;
            color: #ffffff;
            margin-bottom: 0;
        }
    }
}












































































































































































@-webkit-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-o-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-moz-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE :
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines